


body{

    background: #F4F6FC;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}


.header {
    display: flex;
    height: 44px;
    background: #B73C58;
}


.nav-site{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.li-style{
    list-style: none;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-item{
    position: relative;
    padding: 0px 20px 0px 0px;
}

.search-container{
    display: grid;
    grid-template-columns: 42px 184px;
}

.search-input{
    box-sizing: border-box;
    bottom: 2px;
    padding: 0px;
    border-radius: 4px;
    border-color: #ffffff;
    border: none;
    height: 32px;

}

.search-input::placeholder{
    padding-top: 3px;
}

.search-button{
    box-sizing: border-box;
    height: 32px;
    width: 48px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 4px;
}

.form-container{
    display: flex;
    justify-content: center;
    padding-top: 110px;
}
.form-control{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    width:360px;
    height: 568px;
    background-color:#FDFDFD;
    border-radius:4px; 
    
}

.form-login-other{
    display: flex;
    width: 350px;
    height: 40px;
    top: 3px;
    padding: 8px 32px;
    border: 1px solid #828282;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    position: relative;
    box-sizing: border-box;
    left: 2%;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    bottom: 2%;
    
}

.soc-pic{
    padding-right: 8px;
}

.form-input-control{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    width: 350px;
    height: 32px;
    background: #FDFDFD;
    border: 1px solid #828282;
    border-radius: 4px;
    justify-content: flex-end;
    left: 2%;
    top: 10px;
    
}

.label-control{
    position: relative;
    font-weight: 600;
    font-size: 18px;    
    line-height: 24px;
    left: 2%;
    top: 15px;
}

.form-legend-control{
    position: relative;
    font-size: 32px;
    font-weight: 600;
    left: 2%;
    margin-top: 0%;
}

.text-form{
    position: relative;
    left: 2%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #B73C58;
    top: 10px;
}

.form-button{
    display: flex;
    gap: 16px;
    position: relative;
    width: 105px;
    height: 36px;
    left: 35%;
    background: #B73C58;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
    top: 15px;
}

.text-form-polits{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    letter-spacing: 0.25px;
    left: 2%;
    top: 30px;
}

.no-acc-text{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.to-do-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
.to-do-list-filter-items{
    width: 668px;  
}
.to-do-list-h{
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
}
.filter-list{
    display: flex;
    padding: 0%;
}
.filter-item{
    display: flex;
    width: 141px;
    height: 36px;
    background-color:#FDFDFD;
    border: 1px solid #EFF1F3;
    border-radius: 4px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.text-decor{
    text-decoration: none;
}

.priority-1{
    color: #B73C58;
}

.priority-2{
    color: #F2994A;
}

.priority-3{
    color: #2A5480;
}

.regular{
    color: #828282;
}


.overdue-to-do{
    width: 668px;
    height: 378px;
}

.today-to-do{
    width: 668px;
    height: 378px;
}

.checkbox-item{
    width: 24px;
    height: 24px;
    background-color: #B73C58;
}

.list-items{
    padding: 0px;
}
.list-item{
    display: flex;
    width: 668px;
    height: 56px;
    background-color: #FDFDFD;
    border-radius: 4px;
    margin-bottom: 16px;
    align-items: center;
    padding-left: 10px;
}

.list-item:hover{
    background-color: #EFF1F3;
}

.to-do-h2{
    font-weight: 600;
    font-size: 22px;
}
.item-name{
    width: 502px;
    margin-left: 10px;
}
.buttons-item{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-left: 30px;
}
.button-item{
    margin-left: 20px;
}

@media only screen and (max-width: 375px){
    .header {
        display: flex;
        height: 44px;
        background: #B73C58;
    }
    .search-container{
        display: grid;
        grid-template-columns: 0px;
        position: relative;
        right: 10px;
    }
    
    .search-input{
        box-sizing: border-box;
        padding: 0px;
        border-radius: 4px;
        border-color: #ffffff;
        border: none;
        height: 32px;
        display: none;
    
    }
    
    .search-input::placeholder{
        padding-top: 3px;
    }
    
    .search-button{
        box-sizing: border-box;
        border: none;
        cursor: pointer;
        background-color: #B73C58;
        border-radius: 4px;
        padding: 0px;
    }

    /* .nav-item{
        position: relative;
        padding: 0px 15px 0px 0px;
    } */

    .nav-item svg[width]{
        width: 24px;
        height: 24px;
    }

    .form-container{
        display: flex;
        justify-content: center;
        padding-top: 0px;
    }

    .form-control{
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
        padding: 16px;
        gap: 16px;
        width:360px;
        height: 568px;
        background-color:#FDFDFD;
        border-radius:4px; 
        padding: 0px;
    }
    .search-button-color path{
        fill: #FDFDFD;
    }
}